seleniumbase==1.63.23
testproject-python-sdk==1.2.2
anytree==2.8.0
python-dateutil==2.8.2
pytest-dotenv==0.5.2
inflection==0.5.1
overrides==6.1.0
selenium                # required by seleniumbase. Line nedded by PyCharm to not complain about using it directly
pytest                  # required by seleniumbase. Line nedded by PyCharm to not complain about using it directly
cssselect               # required by seleniumbase. Line nedded by PyCharm to not complain about using it directly
msedge-selenium-tools   # required by seleniumbase. Line nedded by PyCharm to not complain about using it directly
