anytree==2.8.0
pyyaml==5.3.1
python-dateutil==2.8.1
seleniumbase==1.50.0
regex==2020.10.23
selenium    # required by seleniumbase. Line nedded by PyCharm to not complain about using selenium directly
