anytree==2.8.0
pyyaml==5.4.1
python-dateutil==2.8.1
seleniumbase==1.55.1
regex==2020.11.13
inflection==0.5.1
selenium    # required by seleniumbase. Line nedded by PyCharm to not complain about using it directly
cssselect   # required by seleniumbase. Line nedded by PyCharm to not complain about using it directly
